
{{> navbar}}
<section class="container d-flex flex-column align-items-center mt-5 pt-3">
  {{#each books}}
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <!--Dont put src="../static/uploads/imgname" ;Reason:staic is already public so dont mention it in path,eg:look css linking in layouts-->
          <img src="../uploads/{{img}}" class="card-img" alt="check" />
        </div>
        <div class="col-md-8">
          <div class="card-body home-card">
            {{!-- use triple bracket to parse html that is returned from the editButton --}}
            <a href="singlebook/{{_id}}" class="card-link"><h4 class="card-title">{{title}}</h4></a>
            <h6 class="card-title"><span class="by">by</span>{{author}}</h6>
            <p class="card-text">{{language}},{{genre}}<p/>
            <a href={{linkToPurchase}} class="btn btn-warning buy"><i class="fas fa-shopping-cart"></i></a>
            <span class="rating-star"><span class="rating-star-text">Rating:</span> {{{stars rating}}}</span>
            <p class="card-text ">{{truncate desc 180}}</p>
            <a href="singlebook/{{_id}}" class="btn btn-info">Read More</a><br>
            <div class="user-badge">
              <a href="/user/{{user._id}}"><img src={{user.image}} class="user-badge-img"/></a>
              <a href="/user/{{user._id}}" class="user-badge-name">{{user.displayName}}</a>
            </div>
           {{!-- not /user/{{user.id}},because user.id is the logged in user we want user associated with the post --}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <p>No books to display</p>
  {{/each}}

</section>