
{{>navbar}}
<section class="container mt-5 pt-3 d-flex justify-content-center">
    <div class="card mb-3" style="width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <!--Dont put src="../static/uploads/imgname" ;Reason:staic is already public so dont mention it in path,eg:look css linking in layouts-->
          <img src="../uploads/{{book.img}}" class="card-img" alt="check" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title single-book-title">{{book.title}}</h4>
            <h6 class="card-title"><span class="by">by</span>{{book.author}}</h6>
            <h5 class="d-inline-block">Rating : {{avgRating}}</h5>
            <span class="rating-star">{{{stars book.rating}}}</span>
            <p class="card-text">{{book.language}},{{book.genre}}<p/>
            <p class="card-text">{{book.desc}}</p>
            <a href={{book.linkToPurchase}} class="btn btn-warning buy">
                      <i class="fas fa-shopping-cart"></i></a>
            <br><br>
            <h6 class="d-inline-block">Your current rating : {{rating.ratingValue}}</h6>
            <form action="/singlebook/rating/{{book._id}}" method="POST">
              <label for="vol">Rate</label>
                  <input type="range" id="rating"  name="rating" min="0" max="5" step="0.1" class="rating-input">
                     <span class="rating-value">{{rating.ratingValue}}</span>
                  <button type="submit" class="mx-4 btn btn-success" ><i class="fas fa-check"></i></button>
            </form>

<div class="user-badge">
  <a href="/user/{{book.user._id}}">
    <img src={{book.user.image}} class="user-badge-img" />
  </a>
  <a href="/user/{{book.user._id}}" class="user-badge-name">
    {{book.user.displayName}}
  </a>
</div>
          </div>
        </div>
      </div>
    </div>

</section>
<!--review section-->
<section class="container" style="max-width:710px;">
<form action="/singlebook/{{book._id}}" method="POST" >
    <label for="review">Review</label>
    <input class="form-control my-2" id="review" name="review" type="text"/>
  <button class="btn btn-info" type="submit" value="submit">Post</button> 
</form>
<hr>
{{#each review}}
<div class="user-badge">
  <a href="/user/{{this.user._id}}">
    <img src={{this.user.image}} class="user-badge-img" />
  </a>
  <a href="/user/{{this.user._id}}" class="user-badge-name">
    {{this.user.displayName}}
  </a>
</div>
<p>{{this.comment}}</p>
<hr>

{{/each}}
</section>