
{{>navbar}}
<section class="container mt-5 pt-3 d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <!--Dont put src="../static/uploads/imgname" ;Reason:staic is already public so dont mention it in path,eg:look css linking in layouts-->
          <img src="../uploads/{{book.img}}" class="card-img" alt="check" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{book.title}}</h4>
            
            <h6 class="card-title">{{book.author}}</h6>
            <p class="card-text">{{book.language}},{{genre}}<p/>
            <p class="card-text">{{book.desc}}</p>
            
            <a href={{book.linkToPurchase}} class="card-link">Purchase</a>
          </div>
        </div>
      </div>
    </div>

</section>
<!--review section-->
<section class="container" style="max-width:600px;">
<form action="/singlebook/{{book._id}}" method="POST" >
    <label for="review">Review</label>
    <input class="form-control" id="review" name="review" type="text"/>
  <button class="btn btn-primary" type="submit" value="submit">Post</button> 
</form>
{{#each review}}
<div class="d-flex justify-content-between">
  <div>
    <p>{{this.comment}}</p>
  </div>
  <div>
<!--
  <form action="/singlebook/{{book._id}}/{{this._id}}" method="POST">
    <button class="btn"><i class="fas fa-thumbs-up"></i></button>
  </form>
-->

  </div>
</div>
{{/each}}
</section>