<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bookish</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="auth/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="books/add">Add</a>
        </li>

      </ul>
      <form class="d-flex" action="/search" method="GET">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
        />
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name="category"
        >
          <option selected>Search in</option>
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="genre">genre</option>
        </select>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!----Book show card--->

<section class="container mt-5 pt-3 d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <!--Dont put src="../static/uploads/imgname" ;Reason:staic is already public so dont mention it in path,eg:look css linking in layouts-->
          <img src="../uploads/{{book.img}}" class="card-img" alt="check" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{book.title}}</h4>
            
            <h6 class="card-title">{{book.author}}</h6>
            <p class="card-text">{{book.language}},{{genre}}<p/>
            <p class="card-text">{{book.desc}}</p>
            
            <a href={{book.linkToPurchase}} class="card-link">Purchase</a>
          </div>
        </div>
      </div>
    </div>

</section>